
      <div>
        <input type="checkbox"/> 
        <h2><%= @todo.description %> </h2>
        <span><%=@todo.pomodoro_estimate %>Pomodoros </span>
        <a href="#"> Edit </a>
        <a href="#"> Delete </a>
        <a href="/todo/index"
        <a href="/" class="simple-link">Go Back...</a>
      </div>
